<iframe id="saveTitleFrame" name="saveTitleFrame" style="width:0px; height:0px; border: 0px" src="blank.html"></iframe> 

<form id="form1" action="index.php" method="post" enctype="multipart/form-data">
	<input name="title" id="title" style="display:none"></input>
	<div class="fieldset flash" id="fsUploadProgress"></div>

	<!-- <div id="divStatus"></div> -->
	<div class="buttons">
		<span id="spanButtonPlaceHolder"></span>
		<!-- <input id="header" type="button" value="Cancel All Uploads" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 29px;" /> -->
	</div>

</form>
